name: Lager sentiment-docker

on:
  push:
    branches: [main]
    paths:
      - 'sentiment-docker/**'
      - '.github/workflows/docker-build.yml'
  pull_request:
    branches: [main]
    paths:
      - 'sentiment-docker/**'
      - '.github/workflows/docker-build.yml'
jobs:
  build-and-publish:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Build image
          run: |
            docker build -t ${{secrets.DOCKER_USERNAME}}/sentiment-docker:${{ github.sha }} \
                         -t ${{secrets.DOCKER_USERNAME}}/sentiment-docker:latest \
                       ./sentiment-docker

        - name: Logg inn
          if: github.event_name == 'push'
          uses: docker/login-action@v3
          with:
            username: ${{secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_TOKEN }}

        - name: Push image
          if: github.event_name == 'push'
          run: |
            IMAGE_SHA=${{ secrets.DOCKER_USERNAME }}/sentiment-docker:${{ github.sha }}
            IMAGE_LATEST=${{ secrets.DOCKER_USERNAME }}/sentiment-docker:latest
            
            docker tag "$IMAGE_SHA" "$IMAGE_LATEST"
            docker push "$IMAGE_SHA"
            docker push "$IMAGE_LATEST"

